Debug/
.settings/
lv_dev_tools/
**/*.o
demo
.pydevproject
/.metadata/
/.tracecompass
build/
bin/
.pio
.ini
CMakeListsPrivate.txt
cmake-build-*/
.idea/
cmake-build-debug-local/
.vs/
cmake-build-debug/
cmake-build-release-remote-host/
cmake-build-debug-remote-host/
*.ini

